<mat-toolbar *ngIf="authService.isLoggedIn$ | async">
  <!-- Start items -->
  <button mat-icon-button aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button>TEMA</button>

  <button mat-button *ngFor="let b of dashBoard" (click)="navClick(b)">
    {{b.label}}
  </button>

  <button mat-button class="btns" [mat-menu-trigger-for]="settingMenu">
    Settings
  </button>

  <mat-menu #settingMenu="matMenu">
    <button mat-menu-item (click)="onClickRoles()">Roles</button>
  </mat-menu>

  <!-- Spacer pushes everything else to the end -->
  <span class="spacer"></span>

  <ng-container *ngIf="userDetails$ | async as user">
    {{ user.username }}
  </ng-container>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>person</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onLogoutClick()">Logout</button>
    <button mat-menu-item (click)="onProfileClick()">Details</button>
  </mat-menu>
</mat-toolbar>
