
mat-toolbar {
  display: flex;
  background-color: #1D4471;
  color: white;
}

.spacer {
  flex: 1 1 auto; /* Takes remaining space and pushes next items to the end */
}

.btns{
  display: flex;
  margin-right: 20px;
}
.mat-mdc-button {
  color: white !important;
}
