<!-- table.component.html -->
<mat-card>
  <mat-card-content>
    <div>
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Dynamic columns -->
        <ng-container
          *ngFor="let column of columnsToDisplay"
          [matColumnDef]="column"
        >
          <th mat-header-cell *matHeaderCellDef [mat-sort-header]="column">
            {{ column }}
          </th>

          <td mat-cell *matCellDef="let element">
            {{ element[columnsDataMapping[column]] || "-" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>Edit Details</th>
          <td mat-cell *matCellDef="let element">
             <button mat-button>
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <!-- Header and Row definitions -->
        <tr mat-header-row *matHeaderRowDef="columnsToDisplayAction"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplayAction"></tr>
        <tr
          class="margin-small-top"
          *matNoDataRow
          [attr.span]="columnsToDisplay.length"
        >
          No data available
        </tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
