.mat-mdc-card-title,
.mat-mdc-card-subtitle {
  display: flex;
  margin: 20px;
}
.spinner-container {
  width: 100%;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
