<mat-card>
  <!-- <mat-form-field appearance="outline">
    <mat-label>search</mat-label>
    <input matInput type="text" (input)="handleSearch($event)">
  </mat-form-field> -->
  <mat-card-content>
    <!-- <app-table
      [data]="dataSource.data"
      [columnsToDisplay]="columnsToDisplay"
      [mapping]="columnsDataMapping"
      (editClick)="handleEditEvent($event)"
      (deleteClick)="handleDeleteEvent($event)"
    >
    </app-table> -->
    <!-- <app-normal-table
     [Tabledata]="dataSource.data"
     [columnsToDiaplay]="columnsToDisplay"
    >
    </app-normal-table> -->
  </mat-card-content>
</mat-card>
