/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content-margin-20{
    margin: 20px;
}
.content-margin-30{
    margin: 30px;
}
.margin-bottom-10{
    margin: 10px;
}
.content-margin {
  margin: 30px;
}
.margin-small-left {
  margin-left: 10px;
}
.margin-medium-left {
  margin-left: 20px;
}
.margin-large-left {
  margin-left: 30px;
}
.margin-large-bottom {
  margin-bottom: 30px;
}
.margin-medium-right {
  margin-right: 20px;
}
.margin-large-right {
  margin-right: 30px;
}
.margin-small-right {
  margin-right: 10px;
}
.margin-small-top {
  margin-top: 10px;
}
.margin-medium-top {
  margin-top: 20px;
}
.margin-large-top {
  margin-top: 30px;
}

//font-sizes
.font-small {
  font-size: 16px;
}
.font-medium {
  font-size: 24px;
}
.font-large {
  font-size: 32px;
}
.font-extra-large {
  font-size: 40px;
}

.justify-around{
  display: flex;
  justify-content: space-around;
}
.justify-between{
  display: flex;
  justify-content: space-between;
}
.align-left{
  display: flex;
  align-items: start;
}

.full-page{
    background-color: #FFFFFF;
}

.font-x-small {
  font-size: 12px;
}

.font-bold {
  font-weight: 500;
}

.font-underline {
  text-decoration: underline;
}

.font-italic {
  font-style: italic;
}

.font-color-grey {
  color: #858585;
}

.font-color-red {
  color: red;
}

/*
USER FEEDBACK
*/

.warning-text {
  color: #d32f2f;
  margin: 8px 0 0 14px;
  font-size: 0.75rem;
}

.snackbar-success {
  color: white;
  background-color: var(--positive-feedback-color);
}

.snackbar-error {
  color: white;
  background-color: var(--negative-feedback-color);
}

/*
ALIGNMENT
*/
.align-right {
  display: flex;
  justify-content: flex-end;
}

.items-middle {
  display: flex;
  align-self: center;
}

.items-center {
  display: flex;
  justify-self: center;
}


/* Full-screen overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Slightly dark */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* On top of everything */
  pointer-events: all; /* Blocks clicks */
}

/* Spinner style */
.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db; /* Blue color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Spinner animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.gap-10{
  gap :10px
}